In [57]:
import pandas as pd

In [58]:
df_lyon = pd.read_csv('listings_paris.csv', sep=',', encoding='utf-8')
df_paris = pd.read_csv('listings_paris.csv', sep=',', encoding='utf-8')

In [59]:
df_lyon.tail()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
91026,1304562779094087796,https://www.airbnb.com/rooms/1304562779094087796,20241206031559,2024-12-06,city scrape,Studio ensoleillé sur Canal,"Sunny studio on Canal de l 'Ourcq, metro Laumi...",NaN,https://a0.muscache.com/pictures/hosting/Hosti...,38574929,...,NaN,NaN,NaN,"Available with a mobility lease only (""bail mo...",t,1,1,0,0,NaN
91027,1304667478167694444,https://www.airbnb.com/rooms/1304667478167694444,20241206031559,2024-12-07,city scrape,Studio bohémien,Enjoy a Parisian life in this studio facing th...,NaN,https://a0.muscache.com/pictures/hosting/Hosti...,595527331,...,NaN,NaN,NaN,7512014848156,f,1,1,0,0,NaN
91028,1305050902233494632,https://www.airbnb.com/rooms/1305050902233494632,20241206031559,2024-12-08,city scrape,Cozy Apartment - Marais - Pelee,Just steps from the vibrant Place de la Bastil...,The apartment is located in one of the most li...,https://a0.muscache.com/pictures/prohost-api/H...,156775524,...,NaN,NaN,NaN,7511114844445,t,107,107,0,0,NaN
91029,1305061192394005038,https://www.airbnb.com/rooms/1305061192394005038,20241206031559,2024-12-07,city scrape,Cozy Apartment - Tour Eiffel - Finlay,Located in a prestigious area just a few minut...,This apartment is ideally located in a prestig...,https://a0.muscache.com/pictures/prohost-api/H...,156775524,...,NaN,NaN,NaN,7511514844533,t,107,107,0,0,NaN
91030,1305099664946300068,https://www.airbnb.com/rooms/1305099664946300068,20241206031559,2024-12-08,city scrape,Parc Monceau - Beautiful apartment,This comfortable studio apartment is located i...,NaN,https://a0.muscache.com/pictures/prohost-api/H...,539380225,...,NaN,NaN,NaN,7511712815692,t,25,25,0,0,NaN

In [60]:
df_paris.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,3109,https://www.airbnb.com/rooms/3109,20241206031559,2024-12-07,city scrape,zen and calm,Lovely Appartment with one bedroom with a Quee...,Good restaurants<br />very close the Montparna...,https://a0.muscache.com/pictures/miso/Hosting-...,3631,...,5.00,5.00,5.00,7511409139079,t,1,1,0,0,0.05
1,5396,https://www.airbnb.com/rooms/5396,20241206031559,2024-12-09,city scrape,Your perfect Paris studio on Île Saint-Louis,"NEW SOFA-BED SINCE JUNE 2023, Please disregard...","You are within walking distance to the Louvre,...",https://a0.muscache.com/pictures/52413/f9bf76f...,7903,...,4.85,4.96,4.59,7510402838018,f,1,1,0,0,2.26
2,7397,https://www.airbnb.com/rooms/7397,20241206031559,2024-12-08,city scrape,MARAIS - 2ROOMS APT - 2/4 PEOPLE,"VERY CONVENIENT, WITH THE BEST LOCATION !",NaN,https://a0.muscache.com/pictures/67928287/330b...,2626,...,4.89,4.94,4.74,7510400829623,f,2,2,0,0,2.20
3,7964,https://www.airbnb.com/rooms/7964,20241206031559,2024-12-09,previous scrape,Sunny apartment with balcony,"We are renting our a spacious, sunny fully fur...",NaN,https://a0.muscache.com/pictures/miso/Hosting-...,22155,...,5.00,5.00,5.00,7510903576564,f,1,1,0,0,0.03
4,9359,https://www.airbnb.com/rooms/9359,20241206031559,2024-12-09,city scrape,"Cozy, Central Paris: WALK or VELIB EVERYWHERE !",Location! Location! Location! Just bring your ...,NaN,https://a0.muscache.com/pictures/c2965945-061f...,28422,...,NaN,NaN,NaN,"Available with a mobility lease only (""bail mo...",f,1,1,0,0,NaN

In [61]:
df_paris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91031 entries, 0 to 91030
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            91031 non-null  int64
 1   listing_url                                   91031 non-null  object
 2   scrape_id                                     91031 non-null  int64
 3   last_scraped                                  91031 non-null  object
 4   source                                        91031 non-null  object
 5   name                                          91031 non-null  object
 6   description                                   87540 non-null  object
 7   neighborhood_overview                         45896 non-null  object
 8   picture_url                                   91030 non-null  object
 9   host_id                                       91031 non-null  int64
 10  host_url                                      91031 non-null  object
 11  host_name                                     91022 non-null  object
 12  host_since                                    91022 non-null  object
 13  host_location                                 72768 non-null  object
 14  host_about                                    39578 non-null  object
 15  host_response_time                            52210 non-null  object
 16  host_response_rate                            52210 non-null  object
 17  host_acceptance_rate                          61093 non-null  object
 18  host_is_superhost                             89080 non-null  object
 19  host_thumbnail_url                            91022 non-null  object
 20  host_picture_url                              91022 non-null  object
 21  host_neighbourhood                            32169 non-null  object
 22  host_listings_count                           91022 non-null  float64
 23  host_total_listings_count                     91022 non-null  float64
 24  host_verifications                            91022 non-null  object
 25  host_has_profile_pic                          91022 non-null  object
 26  host_identity_verified                        91022 non-null  object
 27  neighbourhood                                 45896 non-null  object
 28  neighbourhood_cleansed                        91031 non-null  object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      91031 non-null  float64
 31  longitude                                     91031 non-null  float64
 32  property_type                                 91031 non-null  object
 33  room_type                                     91031 non-null  object
 34  accommodates                                  91031 non-null  int64
 35  bathrooms                                     60114 non-null  float64
 36  bathrooms_text                                90945 non-null  object
 37  bedrooms                                      83700 non-null  float64
 38  beds                                          59944 non-null  float64
 39  amenities                                     91031 non-null  object
 40  price                                         60093 non-null  object
 41  minimum_nights                                91031 non-null  int64
 42  maximum_nights                                91031 non-null  int64
 43  minimum_minimum_nights                        91031 non-null  int64
 44  maximum_minimum_nights                        91031 non-null  int64
 45  minimum_maximum_nights                        91031 non-null  int64
 46  maximum_maximum_nights                        91031 non-null  int64
 47  minimum_nights_avg_ntm                        91031 non-null  float64
 48  maximum_nights_avg_ntm                        91031 non-null  float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              86531 non-null  object
 51  availability_30                               91031 non-null  int64
 52  availability_60                               91031 non-null  int64
 53  availability_90                               91031 non-null  int64
 54  availability_365                              91031 non-null  int64
 55  calendar_last_scraped                         91031 non-null  object
 56  number_of_reviews                             91031 non-null  int64
 57  number_of_reviews_ltm                         91031 non-null  int64
 58  number_of_reviews_l30d                        91031 non-null  int64
 59  first_review                                  67176 non-null  object
 60  last_review                                   67176 non-null  object
 61  review_scores_rating                          67176 non-null  float64
 62  review_scores_accuracy                        67164 non-null  float64
 63  review_scores_cleanliness                     67167 non-null  float64
 64  review_scores_checkin                         67157 non-null  float64
 65  review_scores_communication                   67166 non-null  float64
 66  review_scores_location                        67158 non-null  float64
 67  review_scores_value                           67156 non-null  float64
 68  license                                       72245 non-null  object
 69  instant_bookable                              91031 non-null  object
 70  calculated_host_listings_count                91031 non-null  int64
 71  calculated_host_listings_count_entire_homes   91031 non-null  int64
 72  calculated_host_listings_count_private_rooms  91031 non-null  int64
 73  calculated_host_listings_count_shared_rooms   91031 non-null  int64
 74  reviews_per_month                             67176 non-null  float64
dtypes: float64(19), int64(21), object(35)
memory usage: 52.1+ MB

In [62]:
df_paris.describe()

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,neighbourhood_group_cleansed,latitude,longitude,accommodates,bathrooms,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
count,9.103100e+04,9.103100e+04,9.103100e+04,91022.000000,91022.000000,0.0,91031.000000,91031.000000,91031.000000,60114.000000,...,67167.000000,67157.000000,67166.000000,67158.000000,67156.000000,91031.000000,91031.000000,91031.000000,91031.000000,67176.000000
mean,6.081553e+17,2.024121e+13,1.818846e+08,30.396596,38.665465,NaN,48.864181,2.343099,3.229274,1.199737,...,4.656672,4.805165,4.827823,4.818905,4.624605,23.583010,22.522558,0.981808,0.019235,1.065495
std,5.127971e+17,0.000000e+00,2.006094e+08,127.009105,159.747472,NaN,0.018198,0.034228,1.667150,0.541934,...,0.455675,0.372354,0.361166,0.311784,0.441887,94.650167,93.227797,10.927202,0.335941,1.353293
min,3.109000e+03,2.024121e+13,2.626000e+03,0.000000,0.000000,NaN,48.816090,2.227420,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.010000
25%,3.233102e+07,2.024121e+13,1.956359e+07,1.000000,1.000000,NaN,48.850740,2.321011,2.000000,1.000000,...,4.500000,4.770000,4.800000,4.760000,4.500000,1.000000,1.000000,0.000000,0.000000,0.210000
50%,8.113895e+17,2.024121e+13,7.262684e+07,1.000000,2.000000,NaN,48.865470,2.346829,3.000000,1.000000,...,4.790000,4.920000,4.950000,4.920000,4.720000,1.000000,1.000000,0.000000,0.000000,0.590000
75%,1.092549e+18,2.024121e+13,3.394154e+08,3.000000,5.000000,NaN,48.879055,2.368320,4.000000,1.000000,...,5.000000,5.000000,5.000000,5.000000,4.900000,2.000000,2.000000,0.000000,0.000000,1.420000
max,1.305100e+18,2.024121e+13,6.654112e+08,7663.000000,8018.000000,NaN,48.901510,2.467120,16.000000,42.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,826.000000,826.000000,181.000000,11.000000,49.380000

In [63]:
null_columns = df_paris.columns[df_paris.isnull().any()]
print(null_columns)

Index(['description', 'neighborhood_overview', 'picture_url', 'host_name',
       'host_since', 'host_location', 'host_about', 'host_response_time',
       'host_response_rate', 'host_acceptance_rate', 'host_is_superhost',
       'host_thumbnail_url', 'host_picture_url', 'host_neighbourhood',
       'host_listings_count', 'host_total_listings_count',
       'host_verifications', 'host_has_profile_pic', 'host_identity_verified',
       'neighbourhood', 'neighbourhood_group_cleansed', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'price', 'calendar_updated',
       'has_availability', 'first_review', 'last_review',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'reviews_per_month'],
      dtype='object')

In [64]:
df_paris.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [65]:
df_lyon.columns == df_paris.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True])

In [ ]:
# Liste des colonnes peu pertinentes pour la prédiction du prix
cols_to_drop = [
    'host_acceptance_rate',
    'host_response_rate',
    'host_response_time',
    'listing_url',
    'scrape_id',
    'source',
    'last_scraped',
    'host_since',
    'neighborhood_overview',
    'picture_url',
    'host_url',
    'host_name',
    'host_location',
    'host_is_superhost',
    'host_about',
    'host_thumbnail_url',
    'host_picture_url',
    'host_neighbourhood',
    'host_verifications',
    'neighbourhood',
    'neighbourhood_cleansed',
    'neighbourhood_group_cleansed',
    'latitude',
    'longitude',
    'room_type',
    'bathrooms',
    'bedrooms',
    'amenities',
    'minimum_nights',
    'maximum_nights',
    'minimum_minimum_nights',
    'maximum_minimum_nights',
    'minimum_maximum_nights',
    'maximum_maximum_nights',
    'minimum_nights_avg_ntm',
    'maximum_nights_avg_ntm',
    'calendar_updated',
    'availability_30',
    'availability_60',
    'availability_90',
    'availability_365',
    'calendar_last_scraped',
    'number_of_reviews',
    'number_of_reviews_ltm',
    'number_of_reviews_l30d',
    'first_review',
    'last_review',
    'license',
    'instant_bookable',
    'calculated_host_listings_count',
    'calculated_host_listings_count_entire_homes',
    'calculated_host_listings_count_private_rooms',
    'calculated_host_listings_count_shared_rooms'
]

# Suppression des colonnes non pertinentes
df_paris.drop(columns=cols_to_drop, inplace=True)
df_lyon.drop(columns=cols_to_drop, inplace=True)

     id                                             name  \
0  3109                                     zen and calm
1  5396     Your perfect Paris studio on Île Saint-Louis
2  7397                 MARAIS - 2ROOMS APT - 2/4 PEOPLE
3  7964                     Sunny apartment with balcony
4  9359  Cozy, Central Paris: WALK or VELIB EVERYWHERE !

                                         description  host_id  \
0  Lovely Appartment with one bedroom with a Quee...     3631
1  NEW SOFA-BED SINCE JUNE 2023, Please disregard...     7903
2          VERY CONVENIENT, WITH THE BEST LOCATION !     2626
3  We are renting our a spacious, sunny fully fur...    22155
4  Location! Location! Location! Just bring your ...    28422

   host_listings_count  host_total_listings_count host_has_profile_pic  \
0                  1.0                        1.0                    t
1                  2.0                        4.0                    t
2                  2.0                       10.0                    t
3                  1.0                        1.0                    t
4                  2.0                        4.0                    t

  host_identity_verified       property_type  accommodates  ...    price  \
0                      t  Entire rental unit             2  ...  $100.00
1                      t  Entire rental unit             2  ...   $88.00
2                      t  Entire rental unit             4  ...  $136.00
3                      t  Entire rental unit             3  ...      NaN
4                      t  Entire rental unit             1  ...   $75.00

   has_availability review_scores_rating review_scores_accuracy  \
0                 t                 5.00                   5.00
1                 t                 4.62                   4.64
2                 t                 4.73                   4.81
3                 t                 4.80                   5.00
4                 t                  NaN                    NaN

   review_scores_cleanliness  review_scores_checkin  \
0                       5.00                   5.00
1                       4.59                   4.82
2                       4.45                   4.92
3                       5.00                   5.00
4                        NaN                    NaN

   review_scores_communication  review_scores_location  review_scores_value  \
0                         5.00                    5.00                 5.00
1                         4.85                    4.96                 4.59
2                         4.89                    4.94                 4.74
3                         5.00                    5.00                 5.00
4                          NaN                     NaN                  NaN

   reviews_per_month
0               0.05
1               2.26
2               2.20
3               0.03
4                NaN

[5 rows x 22 columns]

In [67]:
df_paris.head()

,id,name,description,host_id,host_listings_count,host_total_listings_count,host_has_profile_pic,host_identity_verified,property_type,accommodates,...,price,has_availability,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
0,3109,zen and calm,Lovely Appartment with one bedroom with a Quee...,3631,1.0,1.0,t,t,Entire rental unit,2,...,$100.00,t,5.00,5.00,5.00,5.00,5.00,5.00,5.00,0.05
1,5396,Your perfect Paris studio on Île Saint-Louis,"NEW SOFA-BED SINCE JUNE 2023, Please disregard...",7903,2.0,4.0,t,t,Entire rental unit,2,...,$88.00,t,4.62,4.64,4.59,4.82,4.85,4.96,4.59,2.26
2,7397,MARAIS - 2ROOMS APT - 2/4 PEOPLE,"VERY CONVENIENT, WITH THE BEST LOCATION !",2626,2.0,10.0,t,t,Entire rental unit,4,...,$136.00,t,4.73,4.81,4.45,4.92,4.89,4.94,4.74,2.20
3,7964,Sunny apartment with balcony,"We are renting our a spacious, sunny fully fur...",22155,1.0,1.0,t,t,Entire rental unit,3,...,NaN,t,4.80,5.00,5.00,5.00,5.00,5.00,5.00,0.03
4,9359,"Cozy, Central Paris: WALK or VELIB EVERYWHERE !",Location! Location! Location! Just bring your ...,28422,2.0,4.0,t,t,Entire rental unit,1,...,$75.00,t,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
null_percentage = (df_paris.isnull().sum() / len(df_paris)) * 100
print(null_percentage)

id                              0.000000
name                            0.000000
description                     3.834957
host_id                         0.000000
host_listings_count             0.009887
host_total_listings_count       0.009887
host_has_profile_pic            0.009887
host_identity_verified          0.009887
property_type                   0.000000
accommodates                    0.000000
bathrooms_text                  0.094473
beds                           34.149905
price                          33.986224
has_availability                4.943371
review_scores_rating           26.205359
review_scores_accuracy         26.218541
review_scores_cleanliness      26.215245
review_scores_checkin          26.226231
review_scores_communication    26.216344
review_scores_location         26.225132
review_scores_value            26.227329
reviews_per_month              26.205359
dtype: float64

In [69]:
df_paris.drop(columns=['description'], inplace=True)

In [70]:
null_percentage = (df_paris.isnull().sum() / len(df_paris)) * 100
print(null_percentage)

id                              0.000000
name                            0.000000
host_id                         0.000000
host_listings_count             0.009887
host_total_listings_count       0.009887
host_has_profile_pic            0.009887
host_identity_verified          0.009887
property_type                   0.000000
accommodates                    0.000000
bathrooms_text                  0.094473
beds                           34.149905
price                          33.986224
has_availability                4.943371
review_scores_rating           26.205359
review_scores_accuracy         26.218541
review_scores_cleanliness      26.215245
review_scores_checkin          26.226231
review_scores_communication    26.216344
review_scores_location         26.225132
review_scores_value            26.227329
reviews_per_month              26.205359
dtype: float64